# Unreal Engine
Binaries/
Build/
Intermediate/
DerivedDataCache/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# Visual Studio
.vs/
*.user
*.aps

# Mac/Linux
.DS_Store
*.swp

# Other
*.log